@import "tailwindcss";

:root {
  --parchment: #edede9;
  --dust-grey: #d6ccc2;
  --linen: #f5ebe0;
  --powder-petal: #e3d5ca;
  --almond-silk: #d5bdaf;
}

body {
  background-color: var(--linen);
  color: #3d3229;
}

@keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}
