@import "tailwindcss";

:root {
  --gunmetal: #474448;
  --shadow-grey: #2d232e;
  --bone: #e0ddcf;
  --taupe-grey: #534b52;
  --parchment: #f1f0ea;
}

body {
  background-color: var(--parchment);
  color: var(--shadow-grey);
}

@keyframes shimmer-slide {
  to {
    transform: translate(calc(100cqw - 100%), 0);
  }
}

@keyframes border-beam {
  100% {
    offset-distance: 100%;
  }
}
